{% extends "layout.html" %} {% block content %}

{% if error %}
<div className="text-danger">
    <p>{{error}}</p>
</div>
{% endif %}

<div className="align-items-center text-center">
    <h1>Register</h1>
    <form method="post" action="/register">
        <input name="username" className="form-control" type="text" placeholder="Username" />
        <input name="password" className="form-control" type="password" placeholder="Password" />
        <input name="confirm-password" className="form-control" type="password" placeholder="Confirm Password" />
        <button type="submit">Register</button>
    </form>
    <a onClick={() => window.location.href = '/login'}>Already have a login? Login.</a>
</div>

{% endblock %}
